* {
    margin: 0;
    padding: 0;
    background-color: rgb(46, 48, 51);
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media only screen and (min-width: 768px) {
    .header{
        height:max-content;
        width:100%;
        padding-left: 20px;
        line-height: 100px;
        margin-bottom: 20px;
        /* border: 2px dashed green; */
    }
    .container{
        display:flex;
        box-sizing: border-box;
    }
    .main{
        padding-top: 20px;
        padding-left: 20px;
        flex-basis: 55%;
        order: 1;
        /* border: 1px solid blue; */

    }
    .sidebar {
        background-color: rgb(46, 48, 51);
        height: 27rem;
        padding-top: 20px;
        padding-left: 15px;
        overflow-y: scroll;
        scrollbar-color: white;
        line-height: 40px;
        flex-basis: 25%;
        order: 2;
        font-size: larger;
        /* border: 1px solid red; */

    }
    h2 {
        font-family:sans-serif;
      }
      .list {
        font-family:sans-serif;
        margin:0;
        padding:20px 0 0;
      }
      .list > li {
        display:block;
        padding:5px;
        font-size: 10px;
        

      }
      .avatar {
        max-width: 150px;

      }
      li > a {
        font-size: 20px;
        margin:0 0 0.3rem;
        font-weight: normal;
        font-weight:bold;
        color: grey;
      }
      p {
        margin:0;
      }
      
      input {
        border:solid 1px #ccc;
        border-radius: 5px;
        padding:7px 14px;
        margin-bottom:10px
      }
      input:focus {
        outline:none;
        border-color:#aaa;
      }
      .search {
        color:rgb(255, 107, 107);

      }
      .sort {
        padding:8px 30px;
        border-radius: 6px;
        border:none;
        display:inline-block;
        color:#fff;
        text-decoration: none;
        background-color: grey;
        height:30px;
      }
      .sort:hover {
        text-decoration: none;
        background-color: rgba(236, 235, 229, 0.747);
      }
      .sort:focus {
        outline:none;
      }
      .sort:after {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid transparent;
        content:"";
        position: relative;
        top:-10px;
        right:-5px;
      }
      .sort.asc:after {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        content:"";
        position: relative;
        top:13px;
        right:-5px;
      }
      .sort.desc:after {
        width: 0;
        height: 0;
        content:"";
        position: relative;
    }
    .born-timestamp{
        font-size: 14px;
    }
    ::-webkit-scrollbar {
        width: 12px;
    }
     
    ::-webkit-scrollbar-track {
        /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
        border-radius: 10px;
        
    }
     
    ::-webkit-scrollbar-thumb {

        background: grey;
        /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
    }

    ::-webkit-scrollbar-thumb:hover {

      background: rgb(197, 197, 197);
      /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
  }
    ul{
        list-style-type: none;
    }
    a{
        color: white;
        text-decoration: none;
    }
    h1 {
        margin-left: -5px;
        font-size:6vw;
        color: white;
    }
    h2 {
        font-size:1.5vw;
        line-height:.5;
        color: white;
    }
    h3 {
      font-size:1vw;
      line-height:2;
      color: white;
    }
    h4 {
      font-size:1.5vw;
      line-height:1.2;
      color: rgb(148, 148, 148);
    }
    p {
        /* font-size:1vw; */
        line-height:.5;
        color: white;
    }
    red {
        color: rgb(255, 107, 107);
    }
    video {
        height:  31.5vw;
        width: 56vw;

    }
    .footer{
        font-size:1vw;
        padding-left: 20px;
        height:max-content;
        width: 100%;
        padding-top: 20px;
    }


    

}